.box{
    margin: 0 auto;
    width: 300px;
    border: 1px solid;
    padding: 10px;
}

.test {
    display: flex;
    justify-content: space-between;
}

.confirmable-button{
    background-color: #f44336;
    border: 1px crimson solid;
    color: white;
}

ul{
    list-style-type: none;
}

li{
    margin: 10px 0;
    width: 100%;
}

.icon{
    background-color: #69D2E7;
    float: left;
    padding: 2px;
}

.text{
    float: left;
    margin: 0 5px;
    width: 50%;
}

.time{
    color: rgba(0,0,0, .5);
}