<template>
  <div class="box">
    <h3>Delete button with confirm function</h3>
    <Delete></Delete>
  </div>
</template>

<script>


import Delete from "./components/Delete";

export default {
  name: 'App',
  components: {
    Delete
  }
}
</script>

<style>
  .box{
    margin: 0 auto;
    width: 640px;
    padding: 10px;
  }


</style>
