<template>
  <article class="container">
    <header>
      <span>Container header</span>
    </header>
    <main>
      <span>
        <strong>This box can be an edit modal.</strong>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer mattis placerat porttitor.
        Vivamus eget luctus mauris. Donec pretium purus eu augue commodo dapibus.
        Praesent eget nunc in metus porta sodales quis semper nisl.
        Donec tristique, eros id ultricies pulvinar, lectus sapien suscipit sapien, sed suscipit magna elit ac lacus.
      </span>
    </main>
    <footer>
      <button type="button" @click.prevent="resetButton">Close (reset)</button>
      <button class="delete" :disabled='isDisabled' @click.prevent="confirmQuestion" type="submit">{{ buttonText }}</button>
    </footer>
  </article>
</template>

<script>
  export default {
    name: "Delete",

    data() {
      return {
        buttonText: 'Delete',
        confirmed: false
      }
    },

    methods: {
      confirmQuestion() {
        if (this.buttonText === 'Click to confirm') {
          this.buttonText = 'Deleted'
          this.confirmed = true
        } else {
          this.buttonText = 'Click to confirm'
        }
      },

      resetButton() {
        this.buttonText = 'Delete'
        this.confirmed = false
      }
    },

    computed: {
      isDisabled: function () {
        return this.confirmed;
      }
    }
  }
</script>

<style scoped>
  article {
    background-color: #FEFEFE;
    color: lightgray;
    display: flex;
    flex-direction: column;
    border: 1px solid #D2D7D3;
  }

  header {
    background-color: #D2D7D3;
    text-align: center;
    order: 1;
    padding: 1em 0;
  }

  main {
    padding: 0 1.33em;
    order: 2;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
  }

  span {
    color: #344146;
    text-align: left;
  }

  button {
    color: azure;
    border: 0;
    background-color: #00587A;
    width: 160px;
    height: 40px;
  }

  .delete {
    background-color: #FC575E;
  }

  .delete:disabled {
    background-color: #D2D7D3;
  }

  header, footer {

  }

  footer {
    display: inherit;
    order: 3;
    justify-content: space-around;
    font-size: 1em;
    margin-bottom: 1.33em;
  }

</style>
