.box{
    margin: 0 auto;
    width: 300px;
    border: 1px solid;
    padding: 10px;
}

.test {
    display: flex;
    justify-content: space-between;
}

.confirmable-button{
    background-color: #f44336;
    border: 1px crimson solid;
    color: white;
}

