.stripe-f {
  height: 100vh;
}

.stripe-xl {
  height: 61.804697157vh;
}

.stripe-l {
  height: 23.6064912503vh;
}

.stripe-ml {
  height: 14.5888115927vh;
}

.stripe-m {
  height: 9.0165708237vh;
}

.stripe-ms {
  height: 5.572240769vh;
}

.stripe-s {
  height: 3.4439065322vh;
}

.stripe-xs {
    height: 1.3154105296vh;
}

.col {
    flex-direction: column;
}

.col-no-wrap {
    flex-flow: column nowrap;
}

.container {
    display: flex;
}

.row-no-wrap {
    flex-flow: row nowrap;
}

.ju-c {
    justify-content: center;
}

.ju-b {
    justify-content: space-between;
}

.ju-e {
    justify-content: flex-end;
}

.ju-s {
    justify-content: flex-start;
}