@import url(https://fonts.googleapis.com/css?family=Open+Sans|Merriweather);

html {
    display: flex;
}

body {
    font-family: Open Sans;
    margin: 0;
}

h2, h3, h4 {
    font-family: Merriweather;
}

nav {
    order: 1;
    z-index: 9999;
    justify-content: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul.menu {

    width: 60vw;
    margin: 0;
}

.menu-item {
    text-align: center;
}

.sub-menu {
    display: none;
    position: absolute;
}

li.menu-item:hover ul.sub-menu {
    display: block;
}

section {
    order: 2;
    width: 45vw;
    margin: 0 auto;
    min-height: calc(100vh - 14.5em);
}

article {
    padding-bottom: 50px;
}

.post-image {
    position: relative;
    z-index: 1;
    order: 1;
    margin-right: 10px;
    width: 15vw;

}

.backimage {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    filter: opacity(.50);
    background-repeat: no-repeat;
    background-size: cover;
}

.title-matrice {
    position: absolute;
    z-index: 10;
    top: 55%;
    width: 100%;
    height: 115px;
}

.side-color {
    width: 5px;
    height: 100%;
    float: left;
}

.title-matrice h4, .title-matrice span {
    margin: 0;
    margin-left: 30px;
}

.title-matrice h4 {
        padding-top: 10px;
    }

.post-content {
    order: 2;
    width: 30vw;

}

.post-link{
    width: 100%;
}

footer {
    order: 3;
    margin-top:auto;
    text-align: justify;
    min-height: 11.76em;
    width: 100vw;
    z-index: 9993;
}

hr {
    border: 0;
    height: 1px;
    width: 80vw;
    margin: 0 auto;
}

a {
    text-decoration: none;
}


p {
    text-align: justify;
}

.copyright-box {
    margin: 0 auto;
    text-align: center;
}